In [104]:
# import necessary libraries for the analysis

import pandas as pd #for processing the data
import numpy as np #linear algebra 
import json #to load json file
import matplotlib.pyplot as plt #to plot the data
import seaborn as sb

%matplotlib inline

In [105]:
#load the json file
json_file = open('F:/Pucho-DataAnalysis/Round-1/kindle-reviews/kindle_reviews.json').read()
#split by new line
json_file = json_file.split("\n")

so line 5 is **review description** and line 4 has data like **0,0,reviewText** and line 9 **"01 6 2014"** which is a same data instead of space split write - and their format is **month-date-year**

In [106]:
json_file[9]

'{"reviewerID": "AQZH7YTWQPOBE", "asin": "B000FA64PA", "reviewerName": "Enjolras", "helpful": [0, 0], "reviewText": "This is a short story focused on Darth Maul\'s role in helping the Trade Federation gain a mining colony. It\'s not bad, but it\'s also nothing exceptional. It\'s fairly short so we don\'t really get to see any characters develop. The few events that do happen seem to go by quickly, including what should have been major battles. The story is included in the novelShadow Hunter (Star Wars Darth Maul), which is worth reading, so don\'t bother to buy this one separately.", "overall": 4.0, "summary": "Not bad, not exceptional", "unixReviewTime": 1297555200, "reviewTime": "02 13, 2011"}'

In [107]:
from collections import defaultdict
import re

json_dump_data = defaultdict(list)

for index,review in enumerate(json_file):
    data_split = review.split(':')
    for index,values in enumerate(data_split):
        if index == 0:
            continue
        else:
            if index == 9:
                json_dump_data[index].append(values)
            elif index == 4:
                json_dump_data[index].append(values)
            elif index == 5:
                json_dump_data[index].append(values[:-9])
            else:
                sample = values.split(",")
                json_dump_data[index].append(sample[0])

In [108]:
json_dump_data[3][67890]

' "Michelle @ In Libris Veritas"'

In [109]:
#now create a dataframe
amazon_df = pd.DataFrame({'reviewId':json_dump_data[1],
                          'asin':json_dump_data[2],
                          'reviewerName':json_dump_data[3],
                          'helpfull':json_dump_data[4],
                          'review_text':json_dump_data[5],
                          'overall':json_dump_data[6],
                          'summary':json_dump_data[7],
                         'unixReviewTime':json_dump_data[8]})

In [110]:
amazon_df.shape

(982619, 8)

In [111]:
amazon_df.iloc[900:910]

,asin,helpfull,overall,reviewId,review_text,reviewerName,summary,unixReviewTime
900,"""B000WCWUWM""","[0, 0], ""reviewText""",he's too cute to be true,"""A1RXR105ND8OSH""","""What I liked Layne and Dev, the leading pair...","""manutwo""",* The fight scene didn't satisfy me. It seemed...,4.0
901,"""B000WCWUWM""","[0, 0], ""reviewText""",1.0,"""A2CW87RLOPPQNX""","""After reading the sample for this I was disa...","""readerofmanybooks""","""Don't buy""",1313712000
902,"""B000WCWUWM""","[0, 0], ""reviewText""",4.0,"""A22B7YJ2U9SKJK""","""Fans of the \""with\"" series should recognise...","""Rina""","""Not bad if you know the series""",1383091200
903,"""B000WCWUWM""","[0, 0], ""reviewText""",4.0,"""A1N3GNCJWXQ1ZP""","""J. L. Langley created a wonderful world of w...","""Robert Carnevali \""Typical","""A great take on werewolf/shifter love and ro...",1276214400
904,"""B000WCWUWM""","[5, 5], ""reviewText""",3.0,"""A1LB6RLZCNTGJ0""","""I read the first story in this series and th...","""Shelby P""","""I Could Have Done \""Without\"" This Story""",1311552000
905,"""B000WCWUWM""","[0, 0], ""reviewText""",5.0,"""A29T92HFUVM2NT""","""I like this type of story were love conquers...","""Soft Cover C""","""Short & Sweet""",1291420800
906,"""B000WCWUWM""","[0, 0], ""reviewText""",3.0,"""A3MT311233OHMQ""","""This story jumped right in with both feet an...","""Sophia Rose \""Guest Reviewer for Delighted R...","""Quick Fun Read That Jumps Right in With the ...",1352419200
907,"""B000WCWUWM""","[0, 1], ""reviewText""",1.0,"""A1KWPH8LNF1NJQ""","""This book is so bad it's totally funny. Tak...","""Thimblina""","""Ridiculous""",1338854400
908,"""B000WCWV30""","[0, 0], ""reviewText""",5.0,"""A1W0ZKR945Z1ZT""","""I loved this story!! The main character Amel...","""Carmen \""Portillo Family\""""","""A rekindle of love.""",1359158400
909,"""B000WCWV30""","[3, 3], ""reviewText""",5.0,"""A1NLZ3GQM63UYH""","""Lady Amelia has decided to take a lover. Ann...","""Gina Hott \""Gina ~ Hott Books\""""","""Although this isn't on of her longer novels",1317686400

In [112]:
#remove "reviewText from the dataframe" column
amazon_df['helpfull'] = amazon_df['helpfull'].map(lambda x: x.lstrip(' [ +').rstrip('",reviewText ]+"'))
amazon_df['asin'] = amazon_df['asin'].map(lambda x:x.lstrip(' " ').rstrip('""'))
amazon_df['reviewerName'] = amazon_df['reviewerName'].map(lambda x:x.lstrip(' " ').rstrip(' "\" '))
amazon_df['summary'] = amazon_df['summary'].map(lambda x:x.lstrip(' " ').rstrip('""'))
amazon_df['review_text'] = amazon_df['review_text'].map(lambda x:x.lstrip(' " ').rstrip(' ". '))
amazon_df['reviewId'] = amazon_df["reviewId"].map(lambda x:x.lstrip(' " ').rstrip(' " '))

In [113]:
amazon_df.head(5)

,asin,helpfull,overall,reviewId,review_text,reviewerName,summary,unixReviewTime
0,B000F83SZQ,"0, 0",5.0,A1F6404F1VG29J,I enjoy vintage books and movies so I enjoyed ...,Avidreader,Nice vintage story,1399248000
1,B000F83SZQ,"2, 2",4.0,AN0N05A9LIJEQ,This book is a reissue of an old one; the auth...,critters,Different...,1388966400
2,B000F83SZQ,"2, 2",4.0,A795DMNCJILA6,This was a fairly interesting read. It had ol...,dot,Oldie,1396569600
3,B000F83SZQ,"1, 1",5.0,A1FV0SX13TWVXQ,I'd never read any of the Amy Brewster mysteri...,"Elaine H. Turley \""Montana Songbird\",I really liked it.,1392768000
4,B000F83SZQ,"0, 1",4.0,A3SPTOKDG7WBLN,"If you like period pieces - clothing, lingo, y...",Father Dowling Fan,Period Mystery,1395187200

In [114]:
#Data is little clean now, now we have to check if there is any null data
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982619 entries, 0 to 982618
Data columns (total 8 columns):
asin              982619 non-null object
helpfull          982619 non-null object
overall           982619 non-null object
reviewId          982619 non-null object
review_text       982619 non-null object
reviewerName      982619 non-null object
summary           982619 non-null object
unixReviewTime    982619 non-null object
dtypes: object(8)
memory usage: 60.0+ MB

In [115]:
#add time to the dataframe
review_time = []
for time in json_file:
    review_time.append(time[-14:])

In [116]:
amazon_df['reviewTime'] = review_time

In [117]:
amazon_df['reviewTime'] = amazon_df["reviewTime"].map(lambda x:x.lstrip(' " ').rstrip(' "}'))
reviewTime = pd.Series(amazon_df['reviewTime'])
type(reviewTime)

pandas.core.series.Series

In [118]:
reviewTimeNew = []
for reviewtime in reviewTime:
    data = reviewtime.replace(',','-')
    data = data[:2]+"-"+data[-8:]
    reviewTimeNew.append(data)

In [119]:
reviewTimeNew[23]

'05-17- 2011'

In [120]:
amazon_df["reviewTime"] = reviewTimeNew #replace the column
amazon_df.head()

,asin,helpfull,overall,reviewId,review_text,reviewerName,summary,unixReviewTime,reviewTime
0,B000F83SZQ,"0, 0",5.0,A1F6404F1VG29J,I enjoy vintage books and movies so I enjoyed ...,Avidreader,Nice vintage story,1399248000,05- 5- 2014
1,B000F83SZQ,"2, 2",4.0,AN0N05A9LIJEQ,This book is a reissue of an old one; the auth...,critters,Different...,1388966400,01- 6- 2014
2,B000F83SZQ,"2, 2",4.0,A795DMNCJILA6,This was a fairly interesting read. It had ol...,dot,Oldie,1396569600,04- 4- 2014
3,B000F83SZQ,"1, 1",5.0,A1FV0SX13TWVXQ,I'd never read any of the Amy Brewster mysteri...,"Elaine H. Turley \""Montana Songbird\",I really liked it.,1392768000,02-19- 2014
4,B000F83SZQ,"0, 1",4.0,A3SPTOKDG7WBLN,"If you like period pieces - clothing, lingo, y...",Father Dowling Fan,Period Mystery,1395187200,03-19- 2014

In [121]:
# we need to create Review Date,Month,Year for efficient analysis
data_time_stamp = pd.Series(amazon_df['reviewTime'])
#to store individual data list
year = []
month= []
date = []

for mdy in data_time_stamp:
    data = mdy.split("-")
    month.append(data[0])
    date.append(data[1])
    year.append(data[2])

In [122]:
amazon_df['review_year'] = year
amazon_df['review_month'] = month
amazon_df['review_date'] = date

amazon_df.head()

,asin,helpfull,overall,reviewId,review_text,reviewerName,summary,unixReviewTime,reviewTime,review_year,review_month,review_date
0,B000F83SZQ,"0, 0",5.0,A1F6404F1VG29J,I enjoy vintage books and movies so I enjoyed ...,Avidreader,Nice vintage story,1399248000,05- 5- 2014,2014,05,5
1,B000F83SZQ,"2, 2",4.0,AN0N05A9LIJEQ,This book is a reissue of an old one; the auth...,critters,Different...,1388966400,01- 6- 2014,2014,01,6
2,B000F83SZQ,"2, 2",4.0,A795DMNCJILA6,This was a fairly interesting read. It had ol...,dot,Oldie,1396569600,04- 4- 2014,2014,04,4
3,B000F83SZQ,"1, 1",5.0,A1FV0SX13TWVXQ,I'd never read any of the Amy Brewster mysteri...,"Elaine H. Turley \""Montana Songbird\",I really liked it.,1392768000,02-19- 2014,2014,02,19
4,B000F83SZQ,"0, 1",4.0,A3SPTOKDG7WBLN,"If you like period pieces - clothing, lingo, y...",Father Dowling Fan,Period Mystery,1395187200,03-19- 2014,2014,03,19

In [123]:
#still there are lot of string data present in the unixReviewTime, we going to eliminate those rows from the dataframe
unixTimeFrame = pd.Series(amazon_df['unixReviewTime'])
type(unixTimeFrame)

pandas.core.series.Series

In [127]:
result_unix_tf = []
count = 1
some_data = 11

In [128]:
regex = '^[a-zA-Z]+'
result_unix_tf = [] #clear the memory

def isalpha(index,data):
    boolvalue = False
    
    if re.match(regex,data):
        boolvalue = True
        return index,boolvalue
    else:
        return index,boolvalue

drop_rows = [] #to drop all rows in the dataframe

for index,value in enumerate(unixTimeFrame):
    ind,boolvalue = isalpha(index,value)
    
    if boolvalue == True:
        drop_rows.append(index)

In [129]:
drop_rows[3]

862

In [130]:
#drop rows that have noisy data
amazon_df = amazon_df.drop(amazon_df.index[drop_rows])

In [132]:
amazon_df.shape

(980593, 12)

In [133]:
amazon_df = amazon_df.drop(amazon_df.index[13])
amazon_df.shape

(980592, 12)

In [134]:
#save the file
amazon_df.to_csv('kindle_review.csv',sep=",")

In [135]:
amazon_df["reviewId"].iloc[900:910]

906    A3MT311233OHMQ
907    A1KWPH8LNF1NJQ
908    A1W0ZKR945Z1ZT
909    A1NLZ3GQM63UYH
910    A2YX1QL07CL7B8
911    A1ZLRDFXEQFBLV
912    A3EBJDZ5N1UEI5
913    A36CNQTLRIL6LM
914    A3JR6D5B9WF5J8
915    A2YLHICVCWNNCC
916    A1YFEYYDFZCLHL
917     AWPN47SSWK1JV
918    A16U0EYXN7WALA
919    A3CRIAYI2EQ3S0
920    A3KWUXU0F9U6O9
921    A3F4TFY7766LQO
922     AQA76AX85FU33
923    A3CWYI90CBZD9G
924    A2MFW0D6S1HV6Y
925    A3RQGL2IJ1YODP
926    A2HS439ICAGX2Y
927    A1LWBT4OIUF49X
928     ATLXNM5LYXLHQ
929     A23DBYDZGF1D0
930     AO79KZQM6WAAG
931    A3MCPJ5MWRJ7QE
932     AHRGDW27U6PUP
933     A2RPZTZP8W80W
934     AY6F4T8177PW1
935    A2NCAUG4L75GTH
            ...
956    A37DU46UVHGVNT
957    A1FA4WVFVMBLZS
958    A3CQFLIOMTS898
959    A2LYK9EGBNXLCL
960    A2QDZAXAJO32LX
961    A3HZOYPO3CYECQ
962    A2S240V8EUUZUR
963    A33EMFFJOHSZYG
964    A3TUHCWWTHE7RR
965    A2UQGX6YMQ5BAL
966    A1R72M38H80XO8
967    A2NUHWMHA9XNKV
968     A320TMDV6KCFU
969    A2RYXURV8OLYEA
970     ABNX7AFER0SHK
971     AZHZZONN1SO6P
972    A2AY83K9N60V38
973    A2EM6O6EAMREAV
974    A1PW5SQLR0Z6IH
975    A36WJCEZEJMA0P
976    A1IHSK7AZSG4UJ
977    A1FTB3KM7X78OX
978    A3MVKGNVN644UC
979     AGGDI4VWPPZ6J
980    A3AOYF3QNXJOAA
981    A3C0WH1SKU906H
982    A2RY1ZTS123A6J
983     AVGYENZU56KBR
984    A1IVBVMEUCSD5A
985     A1B7DR0K0VCMM
Name: reviewId, Length: 80, dtype: object